<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Fly-Solo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'">
<style>
.container{
    margin: 10px;
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
input{
    width: 258.073px;

}
textarea{
    width: 258.073px;
  
}
button{
  color:white;
  background-color:black;
}



</style>
  </head>
<body>
    
        <center>
            <h1 id="head">Fly-Solo</h1>
            </center>
<!--  NAVBAR -->



       
              <div class="wrapper" id="t-transition">
        
                <div class="static-txt">I'm</div>
                <ul class="dynamic-txts">
        <li><span> the Glory</span></li>
        <li><span>Brave</span></li>
        <li><span>Pride</span></li>
        <li><span>A Woman</span></li>
                </ul>
                </div>
        
          <div class="row">
            <div class="column"> <img src="https://mlh-fellow-portfolio.herokuapp.com/static/assets/images/notebook.png" alt=""></div>
            <div class="column"><h3>Enduring society’s hostility towards a natural process like menstruation is one heck of a challenge. To make life a bit easier, Euphoria brings along a safe place where you can connect with incredible women and share your day-to-day journey. We are your sidekick while you battle your way to the top. Be it the menses reminder, the friendy ”Bot name”, or a place to share your experiences,we are always there for you.</h3><h3>So come on what are you waiting for?</h3></div>
          </div>




<!-- CONTACT US -->

<center><h1>Contact us</h1></center>
<div class="container">
    <div class="items-1 items"><img src="static/—Pngtree—contact our telephone customer service_5412847.png" height="200px"alt="contact us"></div>
    <div class="items-2 items">
        <form action="">
        Your email:
            <div><input type="email"></div>
       <div>Your message:<label for="subject"></label></div>
        
       
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <button type="submit" class="btn btn-primary">Message</button>
        </form>
    </div>
</div>

   

</body>
</html>