<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'">
</head>
<body>
    
        <center>
            <h1 id="head">Euphoria</h1>
            </center>

            <nav>
                <div class="hamburger">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <ul class="nav-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Tracker</a></li>
                  <li><a href="#">BlogPost</a></li>
                  <li><a href="#">Essentials</a></li>

                  <li><a href="#">Login/Signup</a></li>
                </ul>
              </nav>

              <div class="wrapper" id="t-transition">
        
                <div class="static-txt">I'm</div>
                <ul class="dynamic-txts">
        <li><span> the Glory</span></li>
        <li><span>Brave</span></li>
        <li><span>Pride</span></li>
        <li><span>A Woman</span></li>
                </ul>
                </div>
        
          <div class="row">
            <div class="column"> <img src="https://mlh-fellow-portfolio.herokuapp.com/static/assets/images/notebook.png" alt=""></div>
            <div class="column"><h3>Enduring society’s hostility towards a natural process like menstruation is one heck of a challenge. To make life a bit easier, Euphoria brings along a safe place where you can connect with incredible women and share your day-to-day journey. We are your sidekick while you battle your way to the top. Be it the menses reminder, the friendy ”Bot name”, or a place to share your experiences,we are always there for you.</h3><h3>So come on what are you waiting for?</h3></div>
          </div>












    <!-- TEAM MEMBERS -->
    



<script src="homepage.js"></script>

   

</body>
</html>