<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'essentials.css'%}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'">
    <title>Essentials | Fly-Solo</title>
</head>
<body>
    <center><h1>Essentials</h1></center>
    <table>

        <thead>
            
          <tr class="dark1">
            <th>Meal Timings</th>
            <th>Meal Options</th>
    
          
          </tr>
        </thead>
        <tbody>
          <tr >
            <td data-label="Meal Timings">Within 15 mins of waking up</td>
            <td data-label="Meal Options">Overnight soaked raisins (6-7)+ soaked strands of kesar (1-2)</td>
           
           
          </tr>
          <tr class="dark">
            <td data-label="Meal Timings">Breakfast(within 60-90 mins of M1)</td>
            <td data-label="Meal Options">Any homemade breakfast- Sabudana khichdi/ Any stuffed paratha with white butter/ Rajgeera sheera/ Sama ke chawal kheer</td>
            
           
          </tr>
          <tr >
            <td data-label="Meal Timings">Mid-Meal(Within 2-3hours of breakfast)</td>
            <td data-label="Meal Options">Coconut+ jaggery/ Jaggery + whole 2-3 dhaniya seeds/ Any fresh seasonal sherbet/Coconut

                water</td>
           
           
          </tr>
          <tr class="dark">
            <td data-label="Meal Timings">Lunch(latest by 1.30 p.m)</td>
            <td data-label="Meal Options">Rice or roti + sabzi + dal + ghee + dahi or pickle or papad or chutney OR Dahi rice with achaar or papad or steamed

                sprouts</td>
           
           
          </tr class="dark">
          <tr>
            <td data-label="Meal Timings">Evening Snack(between 4-6pm)</td>
            <td data-label="Meal Options">Aliv ladoo or aliv kheer/Boiled sweet potato

                with rock salt or kees/ Arbi or suran kaap/
                
                seasonal fruit/ handful of cashews & jaggery

                </td>
         
           
          </tr>
          <tr class="dark">
            <td data-label="Meal Timings">Dinner(2-3 hours before bedtime)</td>
            <td data-label="Meal Options">Any rice preparation with paneer/ Rice pej with deep fried papad/ Curd rice with tadka/Khichdi + ghee +achaar or papad or raita or kadhi</td>
          
           
          </tr>
          <tr >
            <td data-label="Meal Timings">At Bedtime(if hungry)</td>
            <td data-label="Meal Options">1 tsp of gulkand/banana</td>
        
           
          </tr>
            <tr>
           
        </tbody>
      </table>  
      <div id="cards">
        <center>
            <span>No Hesitation,Full Sanitation</span>
            <p>Never be low on the must have commodities during your periods, you can buy them from the easy to access platform.</p>
            
         <br>
          <div class="bluecard">
                <a href="https://youtu.be/ea63dNIXMvs"target="_blank"><img src="{% static 'sk1.png'%}" a><br></a>
                <p>Menstrual Pads</p>
                <a href="https://www.amazon.in/s?k=menstrual+pads&ref=nb_sb_noss_2"target="_blank"> <p class="button">Check out now!</button></a> 
           </div>
      
           <div class="bluecard" id="bsec">
              <a href="https://youtu.be/o9fPUfm-uYE"target="_blank"><img src="{%static 'sk2.png'%}" a><br></a>
                <p>Menstrual cups</p>
              <a href="https://www.amazon.in/s?k=menstrual+cups&ref=nb_sb_noss_2" target="_blank"> <p class="button">Check out now!</button></a> 
           </div>
       
           <div class="bluecard" id="bthir">
              <a href="https://youtu.be/PeVGc6x5dM8"target="_blank"><img src="{% static 'sk3.png'%}" a><br></a>
                <p>Tampons</p>
                <a href="https://www.amazon.in/s?k=menstrual+tampons&ref=nb_sb_noss_1"target="_blank"> <p class="button">Check out now!</button></a> 
           </div>
        </center>		 
      </div>  
</body>
</html>